# You can do magic here to get the passwords you need, e.g. communicate with
# Gnome Keyring.

imapPasswordScript = os.path.expanduser("~/.imap-passwords")
#######################################################
# Adjust this to get a copy of the passwords you need #
#######################################################
password = subprocess.check_output([
    imapPasswordScript,
    "get",
    "user",
    "host"]).strip().decode("UTF-8")

certfile = os.path.expanduser("~/.mailcert.pem")

##################################################
# Add a line for each folder you want to monitor #
##################################################
accounts = [
    (["name", "host", certfile, "user", password, "INBOX"],
     {"port": 1143, "security": "explicit-ssl"}),
    (["name", "host", certfile, "user", password, "Folder"],
     {"port": 1143, "security": "explicit-ssl"}),
    (["name", "host", certfile, "user", password, "INBOX"],
     {"security": "starttls"}),
    (["name", "host", certfile, "user", password, "Folder"],
     {"security": "starttls"}),
]
